<%- include('header') -%>

    <div class="home container row">
        <div class="col-2 side-bar-container">
            <div class="search-box">
                <input type="search" name="query" placeholder="Search">
                <i class="fas fa-search"></i>
            </div>
            <div class="select-feed">
                <div class="select-container">
                    <select name="post" id="" onchange="location = this.value">
                        <option value="/mypost"><a href="#"> My Post</a></option>
                        <option value="/allpost"><a href="#"> All Post</a></option>
                    </select>
                </div>
                
            </div>
            <div class="write-blog-section">
                <h1>Create a Blog</h1>
                <form action="/blog" method="POST">
                    <label for="title">Title</label>
                    <input type="text" name="title" placeholder="Title">
                    <label for="content">Your post</label>
                    <textarea name="content" id="" cols="30" rows="10" placeholder="Write few words..."></textarea>
                    <input type="submit" value="Post">
                </form>
            </div>
        </div>

        <div class="col-7 posts-container">

            <div class="blog-container">
                <div class="blog">
                    <div class="blog-header">
                        <div class="img-container">
                            <img src="images/google.png" alt="">
                        </div>
                        <div class="header">
                            <div class="title">
                                This is title of blog.
                                This is title of blog.
                                This is title of blog.
                                This is title of blog.
                            </div>
                            <div class="details">
                                <div class="time">12th October 2019</div>
                                <div class="name">Manish Kumar</div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem eaque, esse assumenda explicabo nisi veniam reiciendis fugiat labore aut dignissimos enim ut odio repudiandae nobis praesentium neque sit tempore animi?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quo rerum eum voluptatibus debitis animi eos labore, laborum corrupti molestias totam! Aliquam eius cum iure ut totam qui neque dolor.
                    </div>
                </div>
            </div>

            <div class="blog-container">
                <div class="blog">
                    <div class="blog-header">
                        <div class="img-container">
                            <img src="images/facebook.png" alt="">
                        </div>
                        <div class="header">
                            <div class="title">
                                Build A Simple Blog App With Firebase In Android studio.
                            </div>
                            <div class="details">
                                <div class="time">12th October 2019</div>
                                <div class="name">Harsh Raj</div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem eaque, esse assumenda explicabo nisi veniam reiciendis fugiat labore aut dignissimos enim ut odio repudiandae nobis praesentium neque sit tempore animi?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quo rerum eum voluptatibus debitis animi eos labore, laborum corrupti molestias totam! Aliquam eius cum iure ut totam qui neque dolor.
                    </div>
                </div>
            </div>

            <% blogs.forEach(blog => { %>

            
            <div class="blog-container">
                <div class="blog">
                    <div class="blog-header">
                        <div class="img-container">
                            <img src="<%= blog.img_url %>" alt="">
                        </div>
                        <div class="header">
                            <div class="title">
                                <span><%= blog.title %></span>
                            </div>
                            <div class="details">
                                <div class="time"><%= blog.date.toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric', hour:'numeric', minute: 'numeric'}) %></div>
                                <div class="name"><%= blog.author %></div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <span><%= blog.content %></span>
                    </div>
                </div>
            </div>
            <% }); %>

        </div>
        <div class="col-3 notices-container">
            <div class="notice-board">
                <h1>sac notice board</h1>
                <div class="notices">

                    <div class="notice">
                        <div class="title">
                            Manish Kumar
                        </div>
                        <div class="line"></div>
                        <div class="hash-tag">
                            tcf2k20
                        </div>
                        <div class="body">
                            <span>TCF 2k20 schedule is announced...</span>
                        </div>
                        <div class="read-more">
                            <span>Read More...</span>
                        </div>
                    </div>

                    <div class="notice">
                        <div class="title">
                            Manish Kumar
                        </div>
                        <div class="line"></div>
                        <div class="hash-tag">
                            tcf2k20
                        </div>
                        <div class="body">
                            <span>TCF 2k20 schedule is announced...</span>
                        </div>
                        <div class="read-more">
                            <span>Read More...</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="contact">
                <h1>Like And Follow Us</h1>
                <div class="line"></div>
                <div class="social-links">
                    <ul>
                        <li><a href="https://www.facebook.com/SAC.NITP/" target="_blank"><i class="fab fa-facebook" id="social-fb-icon"></i></a></li>
                        <li><a href="https://www.instagram.com/sac_nitp/" target="_blank"><i class="fab fa-instagram"  id="social-insta-icon"></i></a></li>
                        <li><a href="https://twitter.com/nitpatna?lang=en" target="_blank"><i class="fab fa-twitter" id="social-twitter-icon"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<%- include('footer') -%>